/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #106468;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0c3c5c, #106468);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0c3c5c, #106468); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Oswald', sans-serif;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
}